.mainBackground{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    justify-content: center;
    flex-wrap: wrap;
}
.mainBackground h2{
    font-size: 2.7rem;
    align-self: center;
    color: #dadada;
    text-align: center;
}
.mainBackground p{
    padding: 0% 10%;
    font-size: 1.4rem;
    align-self: center;
    color: #dadada;
    text-align: center;
}
@media all and (max-width: 500px){
    .carreraDeportivaBackground h2{
        font-size: 1.8rem;
    }
    .carreraDeportivaBackground p{
        font-size: .9;
    }
}

.masInfo{
    margin-top: 10%;
    font-size: 1em;
    border: 1.5px solid #dadada;
    border-radius: 20% 20px;
    transition: all .7s ease-in-out;
    color: #dadada;
}
.masInfo:hover{
    translate: 0px -25px;
}
.carreraDeportivaBackground a{
    width: fit-content;
    align-self: center;
}
#infoSection{
    padding-top: 10%;
    min-height: 100vh;
    background-color: rgb(8, 8, 8);
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #dadada;
}
#infoSection img{
    width: 40%;
    height: auto;
}
#infoSection .info{
    width: 65%;
    font-size: 1.5rem;
    text-align: center;
}
.jstfy{
    text-align: justify!important;
}

#infoSection ul{
    display: inline-block;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    font-size: 1rem;
}

@media all and (max-width: 790px){
    #infoSection .info{
        width: 80%;
        font-size: .8rem;
    }
    #infoSection ul{
        width: 80%;
        font-size: .7rem;
    }
}